<h1>Vestimenta</h1>
<p>Sabemos que el tema del protocolo de vestimenta está provocando calores a más de uno, por esta razón hemos decidido
  preparar una sección exclusiva para este tema.</p>
  <p></p>
<p>La boda va a seguir un estilo Medieval fantástico (rollo el Señor de los Anillos) pero no es necesario venir disfrazado ni mucho menos, NO HAY PROTOCOLO DE VESTIMENTA, puedes venir en chándal si quieres! (aunque preferimos que vengas al menos guapete/a).
</p>
<p>Aún con todo esto lo más importante para nosotros es que vengáis, nos da igual si reutilizáis algo que tengáis por casa o usáis ropa de segunda mano para construir vuestro increíble traje, cualquier cosa esta bien.
</p>
<p>De igual forma recordad que estaremos sobre todo en suelo de arena y hierba.</p>
<p class="importante">NO OS RECOMENDAMOS QUE VENGÁIS CON TACONES</p>
<p>Pese a esto y como sabemos que mucha gente quiere venir vestida para la ocasión, hemos preparado tanto una selección
  de imágenes para inspirar como algunas tiendas online que hemos encontrado con ropa del estilo.</p>
<div class="link">
  <a href="https://es.pinterest.com/saraceliap/moodboard-invitados/" target="_blank">¡INSPIRATE AQUI!</a>
</div>
<h1>Tiendas</h1>
<ul>
  <li><a href="https://www.amazon.es/s?k=ropa+hombre+steampunk+medieval+fantasia&rh=n%3A3074050031&__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss" target="_blank">Amazon</a></li>
  <li><a href="https://www.emp-online.es/estilos/steampunk/?prefn1=gender&prefv1=3%7C1&hidebanner=true" target="_blank">emp-online</a></li>
  <li><a href="https://holyclothing.com/" target="_blank">holyclothing</a></li>
  <li><a href="https://www.linennaive.com" target="_blank">linennaive</a></li>
  <li><a href="https://scarletdarkness.com" target="_blank">scarletdarkness</a></li>
  <li><a href="https://mccoyn.com" target="_blank">mccoyn</a></li>
  <li><a href="https://www.wanderlove.es/es/90-vestidos" target="_blank">wanderlove</a></li>
</ul>
