<h1>Como llegar</h1>

<p>La finca, situada en Alcalá de Henares, es de fácil acceso.</p>
<p>Su direccion es: C/ Finca la Esgaravita, 28805 Alcalá de Henares</p>
<p>Coordenadas GPS: 40.496423,-3.337514</p>
<div class="link"><a href="https://maps.app.goo.gl/wTBqHP1c1S1zFVka9" target="_blank">Link GMAPS</a></div>

<h1>En Coche</h1>
<ul>
  <li>En Coche por la A2 Salida 32</li>
  <img class="image" src="/img/ComoLlegarCoche1.png" alt="">
  <li>Continuar por via de servicio hasta salida Alcala de Henares</li>
  <img class="image" src="/img/ComoLlegarCoche2.png" alt="">
</ul>
<h1>En transporte público</h1>
<ul>
  <li>Renfe Alcalá Universidad, Lineas C2 y C7</li>
  <li>20 Minutitos andando</li>
  <img class="image" src="/img/comoLlegarAndando.png" alt="">
</ul>


