<h1>La Finca</h1>
<img class="image" src="/img/esgaravita1.jpg">
<p>La Esgaravita es una granja escuela situada en Alcalá de Henares.</p>
<div  class="link"><a href="https://esgaravita.com/" target="_blank">Web del sitio</a></div>
<p>Este sitio dispone de un parking de tierra a unos 100m tras entrar en la finca.</p>
<p>El sitio dispone de camas para 70 personas, es importante recalcar lo siguiente:</p>
<img class="image" src="/img/laFincaCamas.jpg" alt="">
<img class="image" src="/img/baño.jpg" alt="">
<ul>
    <li>El estilo de las camas es en Litera</li>
    <li>Todas las camas están en la misma habitación común (ver foto arriba)</li>
    <li>Los baños tambien son comunes(ver foto arriba)</li>
    <li class="importante">Para poder dormir se debe llevar ropa de cama/saco de dormir o alquilar la ropa de cama por un coste de 5€ por cama</li>
</ul>
<p>Las camas están disponibles tanto el Viernes como el sábado, pero el Viernes tendrán preferencia las personas que vengan de fuera de Madrid y el inestimable equipo de sacrificados que vengan a ayudar a montar todo.</p>
<p>Si perteneces a alguno de estos dos grupos, ponte en contacto con nosotros.</p>


<p></p>
