<div class="background-image" [style.backgroundImage]="'url(' + backgroundImage + ')'"></div>
<div class="cave-container" (click)="advanceDialogueIfActive()">
  <audio id="background-audio" type="audio/mp3" preload="auto" loop></audio> <!-- Solo cave-background se reproduce automáticamente -->
  <div class="background-image">
    <div *ngIf="startText || pregoneroDialoge"
         class="dialogue-separate"
         tabindex="0">
      <p>{{ getCurrentDialogue().text }}</p>
    </div>
  </div>
  <div class="recordatorio">
    <p (click)="refreshPage()">Volver</p>
  </div>
    <img *ngIf="pregonero" class="pregonero" src="/img/pregonero.png" alt="">
    <img *ngIf="contact" class="contact" src="/img/contact.png" alt="">
</div>
