<div class="cave-container">
  <audio id="background-audio2" type="audio/mp3" src="/audio/cave-background.mp3" autoplay loop></audio>
  <div class="background-image">
    @if (startText) {

      <!-- Bocadillo de diálogo para los diálogos a partir del cuarto -->
      <div
        class="dialogue-separate"
        [ngClass]="{
        'dialogue-centered': startDialogueIndex >= 3
      }"
        (click)="advanceDialogue()">
        <p>{{ getCurrentDialogue().text }}</p>
      </div>
    }

  </div>
  <div class="recordatorio">
    <p (click)="refreshPage()">Volver</p>
  </div>
</div>
