<div class="welcome-container">
  <h1>¡Se hace saber!</h1>
  <h2>08-03-2025</h2>
  <h3>¡El enlace entre Sir Luis & Lady Sara se aproxima!</h3>
  <p>Esta es una encuesta para que sepamos vuestros gustos y saber mas sobre lo que os apetece en la boda, por favor, haced clic en el siguiente enlace para rellenar la encuesta.</p>
  <div class="link">
    <a href="https://forms.gle/wh2TkAu8FszFZXDg9" target="_blank">FORMULARIO</a>
  </div>
  <p>¡TEN MUCHO CUIDADO! No es todo como parece, quizas debas INSPECCIONAR mas de cerca para encontrar lo que aquí se esconde.</p>
</div>

