.welcome-container h1 {
  font-size: 5em; /* Ajusta el tamaño de la fuente según sea necesario */
  margin: 20; /* Eliminar márgenes superior e inferior */
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

.welcome-container h2 {
  text-align: center;
  font-size: 2em; /* Ajusta el tamaño de la fuente según sea necesario */
  margin: 5px 0 10px 0; /* Reducir márgenes superior e inferior */
}

.welcome-container h3 {
  text-align: center;
  font-family: 'Medieval', sans-serif;
  font-size: 2em; /* Ajusta el tamaño de la fuente según sea necesario */
  margin: 5px 0 10px 0; /* Reducir márgenes superior e inferior */
}

.welcome-container p {
  font-family: 'Medieval', sans-serif;
  margin-bottom: 20px;
  text-align: center; /* Asegurar que el párrafo esté centrado */
}

.welcome-container a {
  display: block;
  font-family: 'Medieval', sans-serif; /* Aplicar la fuente Medieval al enlace */
  color: #ff0000; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s ease; /* Transición de color suave */
  font-size: 3em; /* Ajusta el tamaño de la fuente según sea necesario */
}

.welcome-container a:hover {
  color: #00ff22; /* Cambiar color al pasar el ratón */
}

/* Media query para ajustar el tamaño del texto en pantallas pequeñas */
@media (max-width: 600px) {
  .welcome-container h1 {
      font-size: 4em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .welcome-container h2 {
      font-size: 1.8em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .welcome-container h3 {
      font-size: 1.8em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .welcome-container a {
      font-size: 3em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }
}

@media (max-width: 450px) {
  .welcome-container h1 {
      font-size: 3.5em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .welcome-container h2 {
      font-size: 1.5em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .welcome-container h3 {
      font-size: 1.2em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }

  .welcome-container a {
      font-size: 3.5em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }
}