<h1>Preguntas</h1>
<p>¡Bienvenidos a la sección de preguntas!</p>
<p>Aquí publicaremos DE FORMA LITERAL todas las preguntas que nos paseis (y puedan contestarse) mediante la encuesta.</p>
<p>Busca tu pregunta ¡o échate unas risas con las de otros!</p>
<div class="qa-container">
  <p class="pregunta">¿Es boda temática o solo de etiqueta? (por favor etiqueta) ¿Hay parking en el recinto del evento?</p>
  <p class="respuesta">La boda no tiene protocolo de vestimenta, ven como te dé la gana, pero si quieres innovar, ¡tienes la sección "Vestimenta" para inspirarte! Si, el recinto tiene Parking</p>

  <p class="pregunta">Nosotros a ser posible en habitación con cama doble, a ser posible con baño incluido 😂😘</p>
  <p class="respuesta">Se hará lo que se pueda.</p>

  <p class="pregunta">Se puede enviar otra vez la encuesta si cambio de opinión?</p>
  <p class="respuesta">Las respuestas las estamos mirando a mano, si vemos repetido algun nombre respetaremos lo último que ponga.</p>

  <p class="pregunta">Podremos contar con la mejor hierba de la comarca?</p>
  <p class="respuesta">¡Sin lugar a dudas! Sabemos que la mejor es la de la región de Longbottom y ya hemos hecho pedido.</p>

  <p class="pregunta">Dormiré cerca de los pies de Víctor?</p>
  <p class="respuesta">Tú verás... yo no lo haría.</p>

  <p class="pregunta">Os como la cara</p>
  <p class="respuesta">La comedura es mutua</p>

  <p class="pregunta">Dresscode?</p>
  <p class="respuesta">Pregunta 1, Gracias!</p>

  <p class="pregunta">Estás respuestas son mías. Mis hijos te enviaran las suyas</p>
  <p class="respuesta">Perfecto, las respuestas de tus hijos seran bien recibidas también.</p>

  <p class="pregunta">Sois los mejores! ❤️ se viene bodorrio!!!</p>
  <p class="respuesta">Esperamos estar a la altura de tus espectativas.</p>

  <p class="pregunta">Sera genial! Que ganas 🤩</p>
  <p class="respuesta">A nosotros se nos está haciendo bola pero ¡Gracias!</p>

  <p class="pregunta">Os quieroooioiii</p>
  <p class="respuesta">¡Nosotros a ti tambien, encuestador anonimo!</p>

  <p class="pregunta">Nada, gracias!</p>
  <p class="respuesta">Nada, de nada!</p>

  <p class="pregunta">Embarazados!!</p>
  <p class="respuesta">VAAAAAAAMOOOOOOOOOSSSSSS!!!!</p>

  <p class="pregunta">El que habla es sólo Julio xD</p>
  <p class="respuesta">Julio es una criatura exótica, quizás deberíamos alejarle de los micrófonos.</p>

  <p class="pregunta">No sé si quiero hablar. Me da palo y de momento digo no</p>
  <p class="respuesta">La vergüenza es algo de lo que habrá poco en esta boda</p>
<!--
  <p class="pregunta">No</p>
  <p class="respuesta">O Si, ¿quién sabe?</p>
-->
</div>
