<h1>!Bienvenidos a la pagina oficial de la boda!</h1>
<p>En esta página hallaréis información de suma importancia referente a todos los aspectos de nuestro noble enlace,
  tales como el protocolo de vestimenta, guías para llegar, y otros menesteres.</p>

<img class="image" src="/img/inicio1.jpg" alt="">

<p>Ya que esta celebración es muy selecta, como lo son los bailes reales o eventos de la nobleza, sólo han sido
  invitadas las personas de las casas más honorables y solo podrán asistir los que aparezcan en dicha invitación.</p>

<img class="image" src="/img/inicio2.png" alt="">
