<nav class="navbar">
    <ul>
        <li>
            <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
            <a routerLink="/lafinca" routerLinkActive="active">La Finca</a>
            <a routerLink="/comollegar" routerLinkActive="active">Cómo Llegar</a>
            <a routerLink="/vestimenta" routerLinkActive="active">Vestimenta</a>
            <a routerLink="/preguntas" routerLinkActive="active">Preguntas</a>
            <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
            <a routerLink="/encuesta" routerLinkActive="active">Encuesta</a>
        </li>
    </ul>
</nav>
