
<div class="warning-overlay" *ngIf="showWarning">
  <div class="warning-card">
    <h1>¡Atención, Valientes!</h1>
    <p>
      En nombre del reino y de la magia ancestral que aquí reside, se hace saber que a partir de este instante, está terminantemente prohibido el uso de herramientas de inspección en esta página. Aunque muchos secretos y misterios se hallen ocultos en sus profundidades, el descubrimiento de los mismos mediante estos medios no hará sino desvelar la magia que encierra esta experiencia.
    </p>
    <p>
      Os exhorto a disfrutar de la aventura sin romper el hechizo. La curiosidad es valiosa, pero recordaréis que lo que se revela por medios insidiosos solo desvanecerá la esencia del juego y lo convertirá en una experiencia mundana.
    </p>
    <p class="signature">Con devoción y honor,<br>Vuestro amado príncipe<br>Sir Luis</p>
    <button (click)="startGame()">OK, me portaré bien.</button>
  </div>
</div>
<div class="cave-container">
  <audio id="background-audio2" type="audio/mp3" src="/audio/cave-background.mp3" autoplay loop></audio>
  <div class="background-image">
    @if (startText) {
      <!-- Bocadillo de diálogo para los primeros tres -->
      <div
        *ngIf="startDialogueIndex < 3 && getCurrentDialogue()"
        class="dialogue"
        [ngClass]="{
        'dialogue-1': startDialogueIndex === 0,
        'dialogue-2': startDialogueIndex === 1,
        'dialogue-3': startDialogueIndex === 2
      }"
        (click)="advanceDialogue()">
        <p>{{ getCurrentDialogue().text }}</p>
      </div>

      <!-- Bocadillo de diálogo para los diálogos a partir del cuarto -->
      <div
        *ngIf="startDialogueIndex >= 3 && getCurrentDialogue()"
        class="dialogue-separate"
        [ngClass]="{
        'dialogue-centered': startDialogueIndex >= 3
      }"
        (click)="advanceDialogue()">
        <p>{{ getCurrentDialogue().text }}</p>
      </div>
    } @else {

      <!-- Elementos interactivos en el contenedor -->
      <a class="candado" (click)="toggleCandado()"></a>
      <a class="navy" (click)="toggleNavy()"></a>
      <a class="element" (click)="toggleElement()"></a>

      <!-- Nuevo diálogo al activar navy -->
      <div *ngIf="navy && getCurrentNavyDialogue()" class="dialogue-separate" (click)="advanceNavyDialogue()">
        <p>{{ getCurrentNavyDialogue().text }}</p>
      </div>

      @if (element) {
        <img class="element-imagen" src="/img/prueba1.png" alt="">
      }

      @if (candado) {
        <img class="candado-imagen" src="/img/candado.png" alt="">

        <div class="password">
          <div class="password-inputs">
            <input class="password-char" type="text" maxlength="1" [(ngModel)]="inputText[0]" (input)="onInput(0)" />
            <input class="password-char" type="text" maxlength="1" [(ngModel)]="inputText[1]" (input)="onInput(1)" />
            <input class="password-char" type="text" maxlength="1" [(ngModel)]="inputText[2]" (input)="onInput(2)" />
            <input class="password-char" type="text" maxlength="1" [(ngModel)]="inputText[3]" (input)="onInput(3)" />
            <input class="password-char" type="text" maxlength="1" [(ngModel)]="inputText[4]" (input)="onInput(4)" />
            <input class="password-char" type="text" maxlength="1" [(ngModel)]="inputText[5]" (input)="onInput(5)" />
            <input class="password-char" type="text" maxlength="1" [(ngModel)]="inputText[6]" (input)="onInput(6)" />
          </div>
        </div>
      }
    }

  </div>
  <div class="recordatorio">
    <p (click)="refreshPage()">Volver</p>
  </div>
</div>
