/* Estilos para centrar la imagen */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 7em; /* Tamaño de la fuente */
  color: #000000; /* Color del texto */
  margin: 0; /* Eliminar el margen */
}
.info {
  min-height:700px;
}

.town img {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
}

.images {
  position: relative;
  /* Ajusta estos valores para colocar y dimensionar el área clicable */
  bottom: 14vw;    /* 10% del ancho de la pantalla desde la parte superior */
  left: 9%;   /* Porcentaje desde la parte izquierda de la imagen */
  width: 2%;  /* Ancho del área clicable */
  height: 6vw; /* 20% del ancho de la pantalla para la altura */
  /* Opcional: Si quieres ver el área clicable para ajustar la posición */
  display: block;
  cursor: grab;
}

.images2 {
  position: relative;
  /* Ajusta estos valores para colocar y dimensionar el área clicable */
  bottom: 13vw;    /* 10% del ancho de la pantalla desde la parte superior */
  left: 86%;   /* Porcentaje desde la parte izquierda de la imagen */
  width: 3%;  /* Ancho del área clicable */
  height: 3vw; /* 20% del ancho de la pantalla para la altura */
  /* Opcional: Si quieres ver el área clicable para ajustar la posición */
  display: block;
  cursor: grab;
}

.images3 {
  position: relative;
  /* Ajusta estos valores para colocar y dimensionar el área clicable */
  bottom: 26vw;    /* 10% del ancho de la pantalla desde la parte superior */
  left: 93%;   /* Porcentaje desde la parte izquierda de la imagen */
  width: 10%;  /* Ancho del área clicable */
  height: 6vw; /* 20% del ancho de la pantalla para la altura */
  /* Opcional: Si quieres ver el área clicable para ajustar la posición */
  display: block;
  cursor: grab;
}

.pista{
  text-align: left ;
}



