html, body {
  height: 100%;
  margin: 0;
}

.tavern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/tavern2.png') no-repeat left bottom;
  background-size: cover; /* Asegura que el fondo cubra toda el área del contenedor */
  z-index: 10;
}


.recordatorio p{
  font-family: "Medieval";
  color: #000;
  font-size: medium; /* Tamaño del texto */
  cursor: pointer;
  position: fixed; /* Fija el recordatorio a la pantalla */
  bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  right: 10px; /* Ajusta la distancia desde la parte derecha */
  z-index: 30; /* Asegura que el recordatorio esté por encima de otros elementos */
  max-width: 30%;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px;
  margin: 0;
}

.note {
  position: absolute; /* O usa 'fixed' si quieres que se quede en el centro incluso cuando hagas scroll */
  bottom: 50vw;
  left: 24%;
  width: 3%;
  height: 4vw;
  /* Ajusta el margen negativo para centrar el elemento */
  display: block;
  cursor: grab;
}

.prueba {
  position: relative;
  width: 100%; /* Ajusta el ancho de la imagen al 50% del contenedor padre */
  max-width: 500px;
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 90vh; /* Máximo del 90% de la altura de la ventana */
  left: 50%;
  transform: translateX(-30%); /* Centra la imagen horizontalmente */
  margin-top: 60px; /* Espaciado superior */
}

.cubo {
  position: absolute; /* O usa 'fixed' si quieres que se quede en el centro incluso cuando hagas scroll */
  bottom: 32vw;
  left: 34%;
  width: 6%;
  height: 6vw;
  /* Ajusta el margen negativo para centrar el elemento */
  display: block;
  cursor: grab;
}

@media (max-width: 100vh){
  .note {
    position: absolute; /* O usa 'fixed' si quieres que se quede en el centro incluso cuando hagas scroll */
    bottom: 50%;
    left: 23vh;
    width: 40px;
    height: 58px;
    /* Ajusta el margen negativo para centrar el elemento */
    display: block;
    cursor: grab;
    background-color: red;
  }

  .cubo {
    position: absolute; /* O usa 'fixed' si quieres que se quede en el centro incluso cuando hagas scroll */
    bottom: 33%;
    left: 33vh;
    width: 100px;
    height: 100px;
    /* Ajusta el margen negativo para centrar el elemento */
    display: block;
    cursor: grab;
    background-color: blue;
  }
}

